<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuthServer</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AuthServer.Server.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">

</head>

<body>
    <div class="container">
        <div class="header flex">
            <img class="logo" src="~/assets/logo.svg" alt="">
            <div class="next_menu flex">
                <a class="next_menuItem">Dashboard</a>
                <a class="next_badge">COMMING SOON</a>
                <a class="next_menuItem">FAQ</a>
            </div>
            <div>
                @* not display *@
            </div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>
    <div id="snackbar"></div>


    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
