<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuthServer</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AuthServer.Server.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="container">
        <div class="header flex">
            <img class="logo" src="～/assets/logo.svg" alt="">
            @* <a class="navbar-brand" asp-area="">AuthServer</a> *@
            <div class="menu flex">
                <a class="menuItem">Dashboard</a>
                <a class="badge">COMMING SOON</a>
                <a class="menuItem">FAQ</a>
            </div>
            <div>
                @* not display *@
            </div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
