@model List<string>

<div class="authWrapper">
    <div class="authTitle">Authorization</div>
    <p class="authSubTitle"> <strong>Next.ID Demo</strong> would like to access the following info</p>
    <div class="infoWrapper">
        <div>
            <div class="itemTitle">Authorize app:</div>
            <div class="itemMain"> @TempData["redirect_uri"]</span></p>
            </div>
        </div>
        <div>
            <div class="itemTitle">Expired at:</div>
            <div class="itemMain">@TempData["expired_at"]</div>
        </div>
    </div>


    @foreach (var avatar in Model!.OrderBy(a => a))
    {
        <form class="btnWrapper" action="/Authorize" method="post">
            <!-- TODO: should be a select here.  -->
            <input type="hidden" name="Avatar" value="@avatar" />
            <button class="confirmBtn" type="submit">Authorize with this</button>
            <div class="cancelBtn">Cancel</div>
        </form>
    }
</div>
