@model List<string>

<div class="jumbotron">
    <h1>Authorization</h1>
    <p class="lead text-left">Authorize app: <span class="text-danger">@TempData["redirect_uri"]</span></p>
    <p class="lead text-left">Expired at: <span class="text-sm">@TempData["expired_at"]</span></p>

    @foreach (var avatar in Model!.OrderBy(a => a))
    {
        <form action="/Authorize" method="post">
            <div class="form-row">
                <div class="col">
                    <label class="col">@avatar</label>
                </div>
                <input type="hidden" name="Avatar" value="@avatar"/>
                <div class="col">
                    <button class="btn btn-primary m-1" type="submit">Authorize with this</button>
                </div>
            </div>
        </form>
    }
</div>
