@model string

<div class="authWrapper">
    <img class="errorIcon" src="~/assets/error.svg" alt="">
    <div class="authTitle">Authentication Failed</div>
    <div class="authSubTitle">It looks like an unexpected error occurred.<br />
        Please go back and try authenticating again.</div>
    <div class="authSubTitle">Error Message: @Model</div>
    <div class="confirmBtn">Go back</div>
</div>
